{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}




<div class="row" style="padding-top:10px;">
    <h6>{{ title }}</h6>
    <hr />

</div>

<div class="row ">
    <div class="col-md-8">
        <div class="shadow card">
            <div class="card-header">Remove: {{selectasset.name}}</div>


            <div class="card-body text-center">
                Are you sure you want to remove <b>"{{selectasset.name}}"</b> and its associated objects from the database?

                <div style="padding-top:10px;">
                    <a class="btn btn-danger btn-sm" style="margin-right:10px;" href="{{ url_for('confirmeddelete', id=selectasset.id) }}">Remove</a>
                    <a class="btn btn-secondary btn-sm" href="{{ url_for('assets', id=selectasset.assetobjectgroup_id) }}">Cancel</a>
                </div>
            </div>

        </div>
    </div>
</div>          
{% endblock %}
